*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: sans-serif ;
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: orangered;
}
nav{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 9vw;
    position: fixed;
}
nav #logo{
font-size: 20px;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
nav i{
    font-size: 22px;
    color:white;
}
#center {
    display: flex;
    gap:40px;
}
.one{
    width: 100%;
    height: 100vh;
    background:linear-gradient(150deg,rgb(255, 166, 0),rgb(255, 100  , 0));
}
.one{
   display: flex;
   align-items: center;
   justify-content: center;
    width: 100%;
    height: 100vh;
}
#fanta{
    position: absolute;
    width: 35%;
    z-index: 2;
    margin-top: 45px;
}
#orange-cut{
    position: absolute;
    top: 14%;
    left: 32%;
    width: 15%;
    z-index: 1;
}
#orange{
    position: absolute;
    width: 20%;
    z-index: 3;top: 60%;
    right: 29%;
}
.one h1{
    font-size: 25vw;
    color: white;
}

.two{
    width: 100%;
    height: 100vh;
    background-color: aliceblue ;
}
#leaf{
    position: absolute;
    width: 12%;
    top: 67%;
    left: 80%;
    transform: rotate(-90deg);
}
#leaf1{
    top: 10%;
    left: 0%;
    transform:rotate(55deg);
    position: absolute;
    width: 20%;
}
#leaf2{
    top: 14%;
    right: -0.7%;
    position: absolute;
    width: 20%;
}
