*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

html,body{
    font-family: sans-serif ;
   
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar{
    display: none;
}

body{
    scrollbar-width: none;
}
#main{
    width: 100%;
    height: 100vh;

    background-color: orangered;
}


nav{

    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 9vw;
    position: fixed;
    z-index: 99;
}
nav #logo{
font-size: 20px;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
nav i{
    font-size: 22px;
    color:white;
}
#center {
    display: flex;
    gap:40px;
}
.one{
    width: 100%;
    height: 100vh;
    background:linear-gradient(150deg,rgb(255, 166, 0),rgb(255, 100  , 0));
}
.one{
   display: flex;
   align-items: center;
   justify-content: center;
   
}
#fanta{
    position: absolute;
    width: 35%;
    z-index: 2;
    margin-top: 45px;
}
#orange-cut{
    position: absolute;
    top: 14%;
    left: 32%;
    width: 15%;
    z-index: 1;
}
#orange{
    position: absolute;
    width: 20%;
    z-index: 3;top: 60%;
    right: 29%;
   
}

.one h1{
    font-size: 25vw;
    color: white;
}

#leaf{
    position: absolute;
    width: 12%;
    top: 67%;
    left: 80%;
    transform: rotate(-90deg);
}
#leaf1{
    top: 10%;
    left: 0%;
    transform:rotate(55deg);
    position: absolute;
    width: 20%;
}
#leaf2{
    top: 14%;
    right: 1%;
    position: absolute;
    width: 20%;
}
.two{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color:#4d231c;
}
.lft-two,.rght-two{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    gap: 5vh;
    height: 100%;
}
.lft-two svg{
    margin-top: 50vh;
    width: 80%;
    transform: rotateX(40deg);
}
.rght-two h1{
    font-size: 5vw;
    color: #fff;
}
.rght-two p{
    font-size: 1vw;
    color: #fff;
    width: 77%;
}
.three{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 5vw;
    background:linear-gradient(150deg,rgb(255, 166, 0),rgb(255, 100  , 0));
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
    width: 25vw;
    height: 65vh;
    gap: 1.1vw;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
 

}
.card h1{
    margin-top: 40vh;
    font-size: 3vw;
}
.card button{
    padding: 1.2vw 2.7vw;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: rgba(250, 134, 26, 0.971);
}
#sprite{
    position: absolute;
   width: 110%;
    top: -12%;
}
#fanta1{
    position: absolute;
    width: 27vw;
    top: 16.5%;
}
#pepsi{
    position: absolute;
    width: 20vw;
    top:-7% ;
}
.lemon{
    position: absolute;
    width: 20vw;
    top: -26%;
}
.lemons{
    position: absolute;
    width: 20vw;
    top: -24%;
}

